* {
    margin:0px;
    padding:0px;
}
body {
    font-family: Verdana,sans-serif;
}
h1 {
    background: #E6E6E6;
    font-size: 18px;
    margin-bottom: 9px;
}
.error {
    color: red;
    font-weight: bold;
    background-color: #F6CECE;
}
.warning{
    font-size: 16px;
    color: #6E6E6E;
    font-weight: bold;
    background-color: #E0F8E0;
}
#footer {
    clear:both;
    background-color: #D8D8D8;
    font-size: 8px;
    text-align: right;
}

#log-view {
    width: 600px;
    height: 600px;
    float:left;
    font-size: 9px;
    overflow: auto;
}
#server-list {
    margin-left: 10px;
    width: 140px;
    height: 600px;
    float: left;
}
#server-list ul {
    list-style-type: none;
}
#server-list ul li.li-server {
    
}
#server-list ul li.li-channel {
    margin-left: 10px;
}
#server-list ul li.li-channel a{
    display: block;
}
#server-list ul li.li-channel a:hover{
    background-color: #E0ECF8;
}